__pycache__
.cache/**
docs/_static
docs/_build
docs/_templates
docs/source/**
.DS_Store
._.DS_Store
._config.yaml

tools/TweeboParser/pretrained_models.tar.gz
tools/TweeboParser/pretrained_models/
tools/TweeboParser/sample_input.txt
tools/TweeboParser/sample_input.txt.predict
tools/TweeboParser/working_dir/
tools/TweeboParser/TBParser/deps/gflags
tools/TweeboParser/TBParser/deps/glog

data/lexicons/
