__pycache__
.cache/**
docs/_static
docs/_build
docs/_templates
docs/source/**
.DS_Store
._.DS_Store
._config.yaml
.ipynb_checkpoints
mypy_cache
build/
dist/
.vscode
bella_tdsa.egg-info
.pytest_cache
Data Augmentation
