filelock>=3.0.10
Keras>=2.1.3
tensorflow>=1.3.0
scikit-learn==0.19.1
gensim>=3.0.1
requests>=2.18.4
tqdm>=4.23.4
twokenize>=1.0.0
nltk>=3.2.5
stanfordcorenlp==3.7.0.2
ftfy>=5.2.0
ruamel.yaml>=0.15.34
pandas>=0.21.0
networkx>=2.0
tweebo-parser-python-api>=1.0.4
seaborn>=0.8.1
graphviz>=0.8.4
pydot>=1.2.4
pytest==3.2.3
Sphinx==1.6.5
sphinx-autodoc-typehints==1.3.0
sphinx-rtd-theme==0.2.4
google-compute-engine>=2.8.3
